<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie">

	<select id="movieList" resultType="movieDto">
		select * from movies
		where userid=#{userid}
	</select>
	
	<update id="initMovie">
		UPDATE MOVIE_LIST
	SET M_NAME = NULL
	WHERE M_NAME is not null
	</update>
	
	<select id="selectSchedule" parameterType="String" resultType="movieDto">
		select s_time, s_branch from SCHEDULE where s_movie=#{movie}
	</select>
	
	<insert id="insertBook">
		insert into booking (b_movie,b_time,b_branch,b_user) values
		( #{b_movie},#{b_time},#{b_branch},#{b_user})
	</insert>	
	
	<select id="mypage" parameterType="BookingDTO" resultType="bookingDto">
		select * from booking
		where b_user=#{b_user}
	</select>
	
	<delete id="deleteReser">
		delete from booking
		where b_user=#{b_user} and b_time=#{b_time}
	</delete>
	
</mapper>

