<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie">

	<select id="movieList" resultType="movieDto">
		select * from movies
		where userid=#{userid}
	</select>
	
	<insert id="insertMovie">
	insert into MOVIE_LIST(M_NAME) values (m_name.get(i));
	</insert>
	
	<update id="initMovie">
		UPDATE MOVIE_LIST
	SET M_NAME = NULL
	WHERE M_NAME is not null;
	</update>
	
	<select id="selectSchedule" resultType="movieDto">
		select s_time, s_branch from SCHEDULE where s_movie=#{s_movie};
	</select>
	
</mapper>

